.form {
    position: relative;
    width: 700px;
    height: 600px;
    padding-left: 20px;
    padding-top: 30px;
    background-color: yellow;
    border-radius: 20px;
    margin: auto;
}

input[type=submit] {
    position: relative;
    width: 150px;
    height: 40px;
    border-radius: 20px;
    margin-left: 250px;
    border: 0px;
    background-color: red;
    //margin: auto;
}